html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 5px;  /*Margin bottom by footer height */
  background-image: url("/Selvevaluering/bg.png");
}

.rowinput {
  margin-top: 10px;
}

.modal-dialog {
  max-width: 80% !important;
  min-width: 80% !important;
  max-height: 90vh !important;
  min-height: 90vh !important;
  padding: 0;
}

.modal-content {
  max-height: 90vh !important;
  min-height: 90vh !important;
  width: 100%;
  /*height: 98%;*/
}

.modal-body {
  max-height: 90vh !important;
  /*min-height: 800px;*/
  width: 100%;
/*  height: 98%;*/
  overflow-y: scroll;
}

.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.wordwrap {
 white-space: pre-wrap;      /* CSS3 */
 white-space: -moz-pre-wrap; /* Firefox */
 white-space: -pre-wrap;     /* Opera <7 */
 white-space: -o-pre-wrap;   /* Opera 7 */
 word-wrap: break-word;      /* IE */
}


.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

h1 {
 word-wrap:break-word;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  background: #ffffff url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center;
}

.loadAfter{
  visibility: hidden;
}

.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.errorMain {
  padding-top: 5rem;
}

.navbar {
  margin-bottom: 2rem;
}

.card {
  margin-bottom: 10px;
}

.card-header {
  font-size: 24px;
}

/* Checkboxes */
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: 1.6em;
  line-height: 0;
  top: 50%;
  left: -8%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}
