html,
body {
    height: 100%;
    background-image: url("bg.png");
}

body {
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}
